slot {
  margin: 0;
  padding-inline-start: 0;
  user-select: none;

  @media (max-width: 52rem) {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .page-nav-icon + & {
      display: none;
    }
  }
}

.page-nav-heading-wrapper {
  display: flex;
  align-items: center;
  gap: var(--space-small);
  margin-block-start: var(--page-nav-margin-top);

  > .logo {
  }
}
